/* line 6, scrolling-tabs.scss */
.scrtabs-tab-container * {
  box-sizing: border-box;
}

/* line 10, scrolling-tabs.scss */
.scrtabs-tab-container {
  height: 42px;
}

/* line 14, scrolling-tabs.scss */
.scrtabs-tabs-fixed-container {
  float: left;
  height: 42px;
  overflow: hidden;
  width: 100%;
}

/* line 21, scrolling-tabs.scss */
.scrtabs-tabs-movable-container {
  position: relative;
}

/* line 25, scrolling-tabs.scss */
.scrtabs-tab-scroll-arrow {
  border: 1px solid #dddddd;
  border-top: none;
  color: #428bca;
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: 42px;
  margin-bottom: -1px;
  padding-left: 2px;
  padding-top: 13px;
  width: 20px;
}
/* line 37, scrolling-tabs.scss */
.scrtabs-tab-scroll-arrow:hover {
  background-color: #eeeeee;
}

/* line 42, scrolling-tabs.scss */
.scrtabs-tabs-fixed-container ul.nav-tabs {
  height: 41px;
}
/* line 44, scrolling-tabs.scss */
.scrtabs-tabs-fixed-container ul.nav-tabs > li {
  white-space: nowrap;
}
