.scrolling-tabs-header {
  background-color: #666666;
  color: white;
  font-size: 24px;
  height: 50px;
  padding: 8px 24px; }
  
.scrolling-tabs-subheader {
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  height: 65px;
  padding: 8px 24px;
}
  
.scrolling-tabs-subheader div:first-child {
  font-weight: 700;
  margin-bottom: 2px;
}